html{
    font-size: 12pt;
    scroll-behavior: smooth;
}

::selection{
    background-color: #8fa7af;
    color: white;
}

body{
    font-family: sans-serif;
    z-index: 1;
}

header{
    background-color: #8fa7af;
}

#nav-list{
    display: none;
    background-color: #8fa7af;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    max-width: 100vw;
    z-index: 2;
}

#nav-list ul{
    height: 80vh;
}

#nav-list li{
    text-align: center;
    font-size: 1.5rem;
}

.nav-block{
    background-color: transparent;
    display: block;
    position: inherit;
    right: inherit;
    max-width: inherit;
    height: inherit;
}

.nav-block ul{
    height: inherit;
}

.nav-block li{
    text-align: center;
    font-size: 1.5rem;
}

.nav-block a{
    background-color: #345779;
}

.nav-block a:hover, .nav-block a:focus{
    background-color: #fc9050;
}

#nav-footer{
    text-align: center;
    background-color: black;
    color: white;
    height: 20vh;
}

#nav-footer i{
    color: #fc9050;
}

#dropdown{
    color: white;
    font-family: "Passion One", serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.25rem;
    text-align: center;
}

#closeDropdown{
    color: white;
    text-align: right;
    font-size: 1rem;
}

#arrowWrap{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#arrowUp{
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(#333 50%, #888 50%);
    background-size: 100% 200%;
    background-position: top;
}

#arrowUp:hover{
    background-position: bottom;
}

h1, h2, h3{
    font-family: "Passion One", serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #345779;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    text-align: center;
}

ul{
    list-style-type: none;
}

img{
    max-width: 100%;
    height: auto;
}

input, textarea{
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

textarea{
    min-height: 150px;
    max-height: 150px;
}

#mainWrap{
    min-height: 100vh;
}

#productWrap, #contactWrap{
    background-color: rgba(3,3,3,.15);
}

#url{
    width: 100%;
}

footer{
    background-color: #000000;
    color: white;
}

footer p{
    font-size: .8rem;
}

footer p a{
    color: #fc9050;
    text-decoration: none;
    border-radius: 5px;
    text-decoration: underline transparent;
}

footer p a:hover, footer p a:focus{
    color: #ffc775;
    text-decoration: underline;
}

.product img, .product div, iframe{
    border-radius: 5px;
}

.project{
    text-align: center;
    border-radius: 5px;
}

.project:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgba(0,0,0,.05);
}

.privacyList{
    list-style-type: circle;
}

.primary-button{
    background-image: linear-gradient(to right, #ffc775 50%, #fc9050 50%);
    background-size: 200% 200%;
    background-position: right;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
}

.primary-button:hover{
    background-position: left;
    color: white;
}

.accent{
    color: #ffc775;
    font-weight: bold;
}

.link{
    color: #345779;
    text-decoration: underline transparent;
    text-transform: uppercase;
    font-weight: bold;
}

.link:hover{
    color: #fc9050;
    text-decoration: underline;
}

.transition{
    transition: .25s;
}

@media screen and (min-width: 768px){
    html{
        font-size: 14pt;
    }

    #nav-list{
        background-color: transparent;
        display: block;
        position: inherit;
        right: inherit;
        max-width: inherit;
        height: inherit;
    }

    #nav-list ul{
        height: inherit;
    }

    #nav-list li, .nav-block li{
        font-size: 1rem;
    }

    ul a{
        background: #345779;
    }

    ul a:hover, ul a:focus{
        background-color: #fc9050;
    }

    footer p{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1200px){
    .product{
        position: relative;
    }

    .product h3{
        color: white;
    }

    .product div{
        position: absolute;
        top: 0;
        background-color: rgba(0,0,0,.5);
        color: white;
        height: 100%;
        width: 95%;
        padding: 25px;
        display: flex;
        opacity: 0;
    }

    .product div:hover{
        opacity: 1;
    }

    footer p:last-child{
        text-align: end;
    }
}